/* GLOBAL */

:root {
    --color_bitcoin_orange: #F7931A;
    --color_soft_orange: #FFE9D5;
    --color_secondary_blue: #1A9AF7;
    --color_soft_blue: #E7F5FF;
    --color_warm_black: #201E1C;
    --color_warm_black2: #282623;
    --color_grey: #BABABA;
    --color_soft_grey: #B5B0AC;
    --color_dark_grey: #757575;
    --color_off_white: #FAF8F7;
    --color_just_withe: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    font-size: 16px;
}

/* UTILITIES */

.grid {
    display: grid;
}

/* HEADER */

header {
    width: 100%;
    height: 33.4rem;
    min-width: 32rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 15rem;
    height: 2.4rem;
    margin-top: 6rem;

}

.header_title {
    width: 90%;
    height: 21.8rem;
    min-width: 28.8rem;
    max-width: 90rem;
    margin-top: 4rem;
}

.header_title h1 {
    margin-bottom: 2.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color_just_withe);
}

.header_title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--color_soft_orange);
}

.header--button {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.8rem;
    border: none;
    border-radius: 0.4rem;
    padding: 1.5rem;
    top: calc(100% - 2.4rem);
    left: calc(50% - 10.4rem);
    background: var(--color_just_withe);
    box-shadow: 0rem 0.4rem 0.8rem rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-decoration: none;
    color: var(--color_warm_black);
}

.header--button span {
    display: inline-block;
    width: 1.3rem;
    height: 0.8rem;
    margin-left: 1rem;
    background-image: url(../assets/icons/down-arrow.svg);
}

/* MAIN CONTENT */

main {
    width: 100%;
    height: auto;
    background: var(--color_off_white);
}

/* EXCHANGE CONTENT */

.main_exchange_container {
    width: 100%;
    height: auto;
    padding-top: 6rem;
    padding-bottom: 3rem;
    text-align: center;
}

.main_exchange_image {
    background: url(../assets/images/Bitcoin.svg);
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
    margin-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main_exchange_info {}

.main_exchange_info h2 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    color: var(--color_warm_black);
    margin-bottom: 3rem;
}

.main_exchange_info p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--color_grey);
    margin-bottom: 4rem;
}

/* TABLES CONTAINER */

.main_table_container {
    width: 70%;
    margin: 0 auto;
}

/* CURRENCY TABLE CONTENT */

.currency_table {
    grid: 1fr / 1fr 1fr;
    text-align: justify;
    min-width: 24rem;
    max-width: 24rem;
    font-family: 'Inter', sans-serif;
}

.coin_name:nth-child(2) {
    border-top-left-radius: 0.8rem;
}

.coin_name:nth-child(8) {
    border-bottom-left-radius: 0.8rem;
}

.coin_value:nth-child(3) {
    border-top-right-radius: 0.8rem;
}

.coin_value:nth-child(9) {
    border-bottom-right-radius: 0.8rem;
}

.currency_table_title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--color_bitcoin_orange);
    grid-column: 1 / 3;
    padding: 1.3rem;
}

.coin_value,
.coin_name {
    background: var(--color_just_withe);
    margin: 0.1rem;
    padding: 1.3rem;
}

.coin_name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--color_soft_grey);
}

.coin_value {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--color_dark_grey);
}

.coin_value span {
    display: inline-block;
    margin-left: 1.5rem;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../assets/icons/trending-down.svg);
    background-repeat: no-repeat;
}

.currency_table div:nth-child(5) span {
    display: inline-block;
    margin-left: 1.5rem;
    width: 1.2rem;
    height: 1.2rem;
    background: url(../assets/icons/trending-up.svg);
    background-repeat: no-repeat;
}

.current_currency {
    grid-column: 1 / 3;
    text-align: center;
    margin: 1.6rem auto;
    padding: 0.8rem;
    width: 70%;
    background-color: var(--color_soft_orange);
    border-radius: 0.8rem;
    border: none;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--color_warm_black2);
}

.current_currency span {
    font-weight: 700;
}

/* EXCHANGE TABLE CONTENT */

.commisions_table {
    grid: 1fr / 1fr 1fr;
    text-align: justify;
    min-width: 24rem;
    max-width: 24rem;
    font-family: 'Inter', sans-serif;
    display: none;
}

.exchange_name:nth-child(2) {
    border-top-left-radius: 0.8rem;
}

.exchange_name:nth-child(8) {
    border-bottom-left-radius: 0.8rem;
}

.exchange_value:nth-child(3) {
    border-top-right-radius: 0.8rem;
}

.exchange_value:nth-child(9) {
    border-bottom-right-radius: 0.8rem;
}

.commisions_table_title {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    color: var(--color_secondary_blue);
    grid-column: 1 / 3;
    padding: 1.3rem;
}

.exchange_value,
.exchange_name {
    background: var(--color_just_withe);
    margin: 0.1rem;
    padding: 1.3rem;
}

.exchange_name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--color_soft_grey);
}

.exchange_value {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: var(--color_dark_grey);
}

/* PRODUCT DETAILS CONTENT */

.main_product_detail_container {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 3rem;

    background: var(--color_warm_black);
}

.product_logo_batata {
    position: absolute;
    width: 4rem;
    height: 2.5rem;
    top: calc(0% - 1.2rem);
    left: calc(50% - 2rem);
    background: url(../assets/icons/batata.svg);

}

.product_detail_title {
    padding: 5rem 0rem 0rem 0rem;
    width: 90%;
    min-width: 28.8rem;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.product_detail_title h2 {
    color: var(--color_just_withe);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    margin-bottom: 2.4rem;
}

.product_detail_title p {
    color: var(--color_dark_grey);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 3.2rem;
}

.product_detail {
    width: 90%;
    background: var(--color_warm_black2);
    margin: 0 auto;
    margin-bottom: 1.6rem;
    box-shadow: 0rem 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
    border: none;
    border-radius: 0.4rem;
}

.product_detail h2 {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.8rem;
    margin: 1.2rem 0rem 1rem 1.6rem;
    color: var(--color_just_withe);
}

.product_detail p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 0rem 2rem 0rem 1.6rem;
    color: var(--color_dark_grey);
    padding-bottom: 2.2rem;
}

.icon_clock {
    background: url(../assets/icons/clock.svg);
    width: 2.4rem;
    height: 2.4rem;
    margin-top: 1.4rem;
    margin-left: 1.6rem;
    display: inline-block;
}

.icon_eye {
    background: url(../assets/icons/eye.svg);
    width: 2.4rem;
    height: 2.4rem;
    margin-top: 1.4rem;
    margin-left: 1.6rem;
    display: inline-block;
}

.icon_dollar {
    background: url(../assets/icons/dollar-sign.svg);
    width: 2.4rem;
    height: 2.4rem;
    margin-top: 1.4rem;
    margin-left: 1.6rem;
    display: inline-block;
}

.icon_check {
    background: url(../assets/icons/check-circle.svg);
    width: 2.4rem;
    height: 2.4rem;
    margin-top: 1.4rem;
    margin-left: 1.6rem;
    display: inline-block;
}